<h1>Store Dashboard</h1>

    <table class="table table-bordered">
        <tr>
          <th>Categories In Database</th>
          <th>Products in Database</th>
        </tr>
        <tr>
          <td><%= @category_count %></td>
          <td><%= @product_count %></td>
        </tr>
    </table>
 
